In [ ]:
from datetime import datetime
name=input("Enter your Name:")
age=int(input("Enter your Age"))
var=int((100-age)+datetime.now().year)
print('Hi %s. Your age is %s. You will turn 100 in the year %s' %(name,age,var))

Enter your Name:Siddharth
Enter your Age22
Hi Siddharth. Your age is 22. You will turn 100 in the year 2099

In [ ]:
num=int(input("Enter the number of times you want to print the message:"))
for x in range(num):
  print('Hi %s. Your age is %s. You will turn 100 in the year %s' %(name,age,var))

Enter the number of times you want to print the message:4
Hi Siddharth. Your age is 22. You will turn 100 in the year 2099
Hi Siddharth. Your age is 22. You will turn 100 in the year 2099
Hi Siddharth. Your age is 22. You will turn 100 in the year 2099
Hi Siddharth. Your age is 22. You will turn 100 in the year 2099

In [ ]:
num=int(input("Enter the number of times you want to print the message:"))
for x in range(num):
  print('Hi %s. Your age is %s. You will turn 100 in the year %s \n' %(name,age,var))

Enter the number of times you want to print the message:2
Hi Siddharth. Your age is 22. You will turn 100 in the year 2099

Hi Siddharth. Your age is 22. You will turn 100 in the year 2099

In [ ]:
a= [1,1,2,3,5,8,13,21,34,55,89]
b=[]
for x in a:
  if x<5:
    b.append(x)
print(b)

[1, 1, 2, 3]

In [ ]:
a= [1,1,2,3,5,8,13,21,34,55,89]
for x in a: 
  if x<5:
    print(x)

1
1
2
3

In [ ]:
[print(x) for x in b]

1
1
2
3

[None, None, None, None]

In [ ]:
number2=int(input("Enter the number:"))
for x in a:
  if x<number2:
    print(x)

Enter the number:14
1
1
2
3
5
8
13

In [ ]:
def fibo(n):
  if n<=1:
    return n
  else:
      return(fibo(n-1)+fibo(n-2))

terms=int(input("Number of terms"))
if terms<=0:
  print("Enter a positive interger")
else:
  print("fibonacci Series")
  for i in range(terms):
    print(fibo(i))

Number of terms5
fibonacci Series
0
1
1
2
3

In [ ]:
list1 = [1,1,2,3,5,8,13,3,5,6,1]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)

print("The original list is" + str(list1))
print("New list without duplicates is" + str(list2))

The original list is[1, 1, 2, 3, 5, 8, 13, 3, 5, 6, 1]
New list without duplicates is[1, 2, 3, 5, 8, 13, 6]

In [ ]:
list1 = [1,1,2,3,5,8,13,3,5,6,1]
def func(list1):
  list3=[]
  for i in list1:
    if  i not in list3:
      list3.append(i)
  print("New list is" +str(list3))

func(list1)

New list is[1, 2, 3, 5, 8, 13, 6]

In [ ]:
def func2(list1):
  newlist=list(set(list1))
  print("New List" +str(newlist))

func2(list1)

New List[1, 2, 3, 5, 6, 8, 13]

In [ ]:
num=int(input("Enter the number that you want to check"))

def Prime(num1):
  flag= False
  if num1>1:
    for i in range(2,num1):
      if(num1%i) ==0:
        flag =True
        break
  if flag:
    print("%s is not prime" %(num1))
  else:
    print("%s in prime" %(num1))

Prime(num)

Enter the number that you want to check54
54 is not prime